<%= provide :title, "Home" %>

<div class="typewriter">
	<u><h1>ERIC ROSENBERG</h1></u>
</div>
<!-- Begin about -->
<div id="about">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<h1>ABOUT ME</h1>
				My name is Eric Rosenberg and 
				I am currently a senior (final year) attending Salisbury University 
				in pursuit of a Computer Science and Mathematics degree. I am 21 and have 4+ years of experience in multiple programming languages.
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
</div>
<!-- End about -->

<!-- Begin experience -->
<div id="experience">
	<div class="container-fluid">
		<h1>EXPERIENCE</h1>
		<div class="row">
			<p> I am proficient in the following languages: </p>
			<div class="language">
				<ul class="list-group">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<li>C++</li>
						<li>C</li>
						<li>Ruby</li>
						<li>Java</li>
					</div>
					<div class="col-md-4">				
						<li>Html</li>
						<li>Php</li>
						<li>Ruby-On-Rails</li>
						<li>Bootstrap/Foundation</li>
						<li>Git</li>
					</div>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<p> I am currently expanding my knowledge in the following languages: </p>
		<div class="language">
			<ul class="list-group">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<li>Python</li>
					<li>(F)lex</li>
					<li>Yacc/Bison</li>
				</div>
				<div class="col-md-4">				
					<li>Css/Scss</li>
					<li>Holder</li>
				</div>
			</ul>
		</div>
	</div>
</div>
<!-- End Experience -->

<div id="portfolio">
	<h1>PORTFOLIO</h1>
</div>

<h1>CONTACT</h1>