<%= provide :title, "Home" %>

<!-- Begin about -->
<div id="about">
	<h1>ABOUT ME</h1>
	My name is Eric Rosenberg and I am currently a senior attending Salisbury University in pursuit of a Computer Science and Mathematics degree. 
</div>
<!-- End about -->

<!-- Begin experience -->
<div id="experience">
	<h1>EXPERIENCE</h1>
	<div class="row">
		<p> I am proficient in the following languages: </p>
			<div class="language">
				<ul class="list-group">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<li>C++</li>
						<li>C</li>
						<li>Ruby</li>
						<li>Java</li>
					</div>
					<div class="col-md-4">				
						<li>Html</li>
						<li>Php</li>
					</div>
				</ul>
			</div>
	</div>
	<div class="row">
		<p> I am currently expanding my knowledge in the following languages: </p>
			<div class="language">
				<ul class="list-group">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<li>Python</li>
						<li>(F)lex</li>
						<li>Yacc/Bison</li>
					</div>
					<div class="col-md-4">				
						<li>Place</li>
						<li>Holder</li>
					</div>
				</ul>
			</div>
	</div>
</div>
<!-- End Experience -->
<div id="portfolio">
	<h1>PORTFOLIO</h1>
</div>

<h1>CONTACT</h1>