<%= provide :title, "Home" %>
<!-- Begin name -->
<div class="fill">
	<div id="name">
		<p class="animated infinite pulse">ERIC ROSENBERG</p>
	</div>
</div>
<!-- End name -->

<!-- Begin about -->
<div id="about">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1>ABOUT ME</h1>
				<p>My name is Eric Rosenberg and 
					I am currently a senior (final year) attending Salisbury University located in Salisbury Maryland.
					I am currently in pursuit of a Computer Science as well as a Mathematics degree. 
					I am 21 years old and have 4+ years of experience in multiple programming languages.</p>

					<p>I have a strong background in C++ and Java with a great deal of knowledge in web-based 
						development as well as application development.
					</p>
					<%= link_to "View Resume","#", class: "btn btn-default" %>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>
	<!-- End about -->

	<!-- Begin experience -->
	<div id="experience">
		<div class="container-fluid">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<h1>EXPERIENCE</h1>
						<p> I am proficient in the following languages: </p>
					</div>
				</div>
				<div class="row">
					<div class="language">
						<ul class="list-group">
							<div class="col-md-4"></div>
							<div class="col-md-4">
								<li>C++</li>
								<li>C</li>
								<li>Ruby</li>
								<li>Java</li>
								<li>Android</li>
							</div>
							<div class="col-md-4">				
								<li>Html</li>
								<li>Php</li>
								<li>Ruby-On-Rails</li>
								<li>Bootstrap/Foundation</li>
								<li>Git</li>
							</div>
						</ul>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<p> I am currently familiar with the following languages: </p>
					</div>
				</div>
				<div class="row">
					<div class="language">
						<ul class="list-group">
							<div class="col-md-4"></div>
							<div class="col-md-4">
								<li>Python</li>
								<li>(F)lex</li>
								<li>Yacc/Bison</li>
							</div>
							<div class="col-md-4">				
								<li>Css/Scss</li>
								<li>Holder</li>
							</div>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- End Experience -->

	<div id="portfolio">
		<h1>PORTFOLIO</h1>
	</div>

	<h1>CONTACT</h1>