<div class="container-fluid">
	<nav class="navbar navbar-fixed-top navbar-inverse">
	  <ul>
			<p class="navbar-brand">Eric Rosenberg</p>
			<p class="navbar-text">About</p>
			<p class="navbar-text">Experience</p>
			<p class="navbar-text">Portfolio</p>
			<p class="navbar-text">Contact</p>
		</ul> 
	</nav>	
</div>